html {
    font-size: 62.5%;
    font-family: serif;
}
body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 13px;
}
@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}
@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
h1 {
    font-size: 2.35em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;

}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
    margin: 2vh;
}

/* RESET LAYOUT AND ADD COLORS */
body {
    margin: 0;
    padding: 0;
    max-width: inherit;
    background: #fff;
    color: #4a4a4a;
}
header, footer {
    font-size: large;
    text-align: center;
    padding: 0 0;
    background-color: #4a4a4a;
    color: #f9f9f9;
}
nav {
    background: #eee;
}
main {
    background: #f9f9f9;
}
aside {
    background: #eee;
}

/* GRID-BASED LAYOUT */
body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: min-content 1fr min-content;
}
nav,main,aside{
    overflow: hidden;
}
header {
    grid-row: 1;
    grid-column: 1 / 4;


}
nav {
    grid-row: 4;
    grid-column: 1 / 2;
    padding: 0 10px;
}
main {
    grid-row: 2;
    grid-column: 1 / 4;
    padding: 0 20px;
    height: 85vh;
    background-image: url(../img/house.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
aside {
    grid-row: 3;
    grid-column: 1 / 4;
    padding: 0 10px;

}
footer {
    grid-row: 5;
    grid-column: 1 / 4;
}
#menu-container {
    display: flex;
    flex-direction: row;
    padding-right: 10vw;
    padding-left: 10vw;
    justify-content: space-between;
    background: linear-gradient(to right, #2a85a0, #32bc39);

}
#contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-right: 9vw;
    padding-left: 9vw;
    justify-content: space-between;
    background: linear-gradient(to right, #32bc39, #2a85a0);
}
.menu-item{
    border-bottom: green solid;
}
#logo{
padding-top: 1vh;
    width: 50%;
}
#container-bottom{
    color: #32bc39;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
#menu-item_border{
    border-bottom: white solid;
    cursor: pointer;
}
#animated {
    transition-property: background-color;
    transition-duration: 3s;
}
